<div class="container">
    <div class="card">
        <div class="card-header">
            <span><b>Users List</b></span>
            <span class="float-end" (click)="modalToggle()"><a>Add 360 Image</a></span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2"><b>Row No.</b></div>
                <div class="col-2"><b>First Name</b></div>
                <div class="col-2"><b>Last Name</b></div>
                <div class="col-2"><b>User Name</b></div>
                <div class="col-2"><b>Phone</b></div>
                <div class="col-2"><b>Action</b></div>

            </div>
            <div class="row" *ngFor="let a of userList; let i = index">
                <div class="col-2">{{i+1}}</div>
                <div class="col-2">{{a.FirstName}}</div>
                <div class="col-2">{{a.LastName}}</div>
                <div class="col-2">{{a.UserName}}</div>
                <div class="col-2">{{a.PhoneNumber}}</div>
                <div class="col-2"><i class="fa fa-trash"></i></div>

            </div>
        </div>
    </div>
</div>


<div class="modal d-block" tabindex="-1" role="dialog" *ngIf="showModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pointers Popup</h5>
                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close"
                    (click)="modalToggle()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-12">
                            Title
                            <input class="form-control" formControlName="Title" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            Description
                            <input class="form-control" formControlName="Description" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Latitude
                            <input class="form-control" formControlName="Lat" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Longitude
                            <input class="form-control" formControlName="Long" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <button type="reset" class="btn btn-danger float-end">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addImage()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="modalToggle()">Close</button>
            </div>
        </div>
    </div>
</div>