<div class="d-flex">
    <!-- <div [ngClass]="selectedMarker != null? 'col-4': 'col-12'"> -->
    <div class="col-2">
        <div class="position-absolute ps-2 pt-2 search-div">
            <form class="form-inline md-form form-sm">
                <div class="search-hero" [ngClass]="searchList.length > 0 ? 'bg-white': ''" >
                    <input class="form-control" type="text" name="search" (keyup)="searchImages(searchText)"
                        [(ngModel)]="searchText" autocomplete="on" placeholder="&#61442;">
                    <div *ngFor="let i of searchList;">
                        <div class="imgTitle" (click)="searchSelection(i)">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            {{i.Name}}
                        </div>
                    </div>
                </div>

            </form>
        </div>

        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
            (mapReady)="onMapReady($event)">
        </agm-map>
    </div>
    <!-- <div [ngClass]="selectedMarker != null? 'col-8': 'd-none'"> -->
    <div class="col-10">
        <app-imageviewer [marker]="selectedMarker" [mapViewer]="true"></app-imageviewer>
    </div>
</div>