<div class="d-flex">
    <div class="col-4">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
            (mapReady)="onMapReady($event)">
            <!-- <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat"
        [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">

    </agm-marker> -->
        </agm-map>
    </div>
    <div class="col-8">
        <app-imageviewer [marker]="selectedMarker" [mapViewer]="true"></app-imageviewer>
    </div>
</div>