<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" (mapReady)="onMapReady($event)">
    <div id="addImage" (click)="modalToggle()" class="add-image-icon cursor_pointer mr-2 mt-2" data-toggle="tooltip"
        data-placement="right" title="Add Image">
        <img src="../../assets/addimage.png" width="28" />
    </div>
</agm-map>

<div class="modal d-block" tabindex="-1" role="dialog" *ngIf="showModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">360 Image</h5>
                <button (click)="modalToggle()" type="button" class="btn btn-danger" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-12">
                            Name
                            <input class="form-control" formControlName="Name" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            Description
                            <input class="form-control" formControlName="Description" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Lattitude
                            <input class="form-control" formControlName="Lattitude" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Longitude
                            <input class="form-control" formControlName="Longitude" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            Image URL
                            <input class="form-control" formControlName="url" />
                        </div>
                    </div>

                    <div class="row mt-3">

                        <div class="col-12">
                            <button type="reset" class="btn btn-danger float-end">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="addImage()">Add Image</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    (click)="modalToggle()">Close</button>
            </div>
        </div>
    </div>
</div>